<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 数据库工具</title>
    <link rel="icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/splitpage/css/normalize.css" />
    <link rel="stylesheet" href="~/lib/splitpage/css/default.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-icons-1.9.1/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-table/css/bootstrap-table.min.css" />
    <link rel="stylesheet" href="~/lib/fonts/css/ali-iconfont.css" />
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DataBaseHelper.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-myNavColor border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse fs-6 collapse d-sm-inline-flex justify-content-between">
                    <div class="col-4">
                        <ul class="navbar-nav flex-grow  justify-content-start">
                            <li class="nav-item row">
                                <div class="col">
                                    @*LOGO按钮*@
                                    <a class="navbar-brand d-inline-block nav-link" asp-area="" asp-controller="DataBase" asp-action="Index">
                                        <div class="header_logo_jpg ">
                                            <img src="~/lib/images/logo.png" alt="LOGO" width="auto" height="40" class="img-fluid" />
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    @*选择数据库按钮*@
                                    <a class="nav-link nav-myLink text-light mt-2" asp-area="" asp-controller="DataBase" asp-action="Index">选择数据库</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    @*顶部导航-[服务器-数据库]展示*@
                    <div class="col-4">
                        <ul class="navbar-nav flex-grow justify-content-center">
                            <li class="nav-item text-light">
                                当前：<span id="current_Server_Title">--</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul class="navbar-nav flex-grow justify-content-end">
                            <li class="nav-item text-light">
                                <button type="button" class="btn btn-outline-light border-0 d-none">导出</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" id="masterMain" class="masterMain clearfix pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @Html.Raw(DateTime.Now.Year) - FBW工具
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/lib/formmaster/jquery.form.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap-table/js/bootstrap-table.min.js"></script>
    <script src="~/js/helper.js"></script>
    <script>
        (function () {
            'use strict'
            var forms = document.querySelectorAll('.needs-validation')
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
        $(function () {

        })
        var tooltipTriggerList = Array.prototype.slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>