@{
    Layout = "_LayoutNull";
    ViewData["Title"] = "添加数据库";
}
<div>
    <form class="row g-3 needs-vaildation" novalidate>
        <div class="col-md-8">
            <label>地址：</label>
            <input type="text" class="form-control" id="databaseAddress" name="Address" value="" required />
        </div>
        <div class="col-md-4">
            <div class="vaild-feedback"></div>
        </div>
        <div class="col-md-8">
            <label>端口：</label>
            <input type="text" class="form-control" id="databaseAddress" name="Address" value="" required />
        </div>
        <div class="col-md-4">
            <div class="vaild-feedback"></div>
        </div>
        <div class="col-md-8">
            <label>来源：</label>
            <input type="text" class="form-control" id="databaseAddress" name="Address" value="" required />
        </div>
        <div class="col-md-4">
            <div class="vaild-feedback"></div>
        </div>
        <div class="col-md-8">
            <label>数据库名称：</label>
            <input type="text" class="form-control" id="databaseAddress" name="Address" value="" required />
        </div>
        <div class="col-md-4">
            <div class="vaild-feedback"></div>
        </div> 
        <div class="col-md-8">
            <label>数据库介绍：</label>
            <input type="text" class="form-control" id="databaseAddress" name="Address" value="" required />
        </div>
        <div class="col-md-4">
            <div class="vaild-feedback"></div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>
</div>