@using DBH.Models.Entitys;
@using DBH.Models.EntityViews;
@{
    Layout = "_LayoutMain";
    ViewData["Title"] = "选择数据库";
    IList<FS_ServicesView> listEntity = (IList<FS_ServicesView>)ViewData["listEntity"];
    //string title = Model.DataBaseName;
}
@section styles{
    <style>
        .card { overflow: hidden; }
        .card .actionpannel { width: 60px; display: none; position: absolute; right: 1px; background-color: #f8f9fa; height: 100%; }
        .list-group { height: 100%; justify-content: space-between; background-color: #f8f9fa; }
        .list-group > .list-group-item { border: 0; background-color: #f8f9fa; padding-left: 0.25rem; padding-right: 0.25rem; }
        .card .actionTopannel { position: absolute; background-color: #f8f9fa; right: 0; width: 2rem; height: 2rem; line-height: 2rem; font-size: 16px; border-left: 1px solid #dee2e6 !important; border-bottom: 1px solid #dee2e6 !important; }
    </style>
}
<div class="container-fulid">
    <div class="container">
        <div class="row pb-2 border-bottom">
            <div class="col-6">
                <p><h3>请选择数据库：</h3></p>

            </div>
            <div class="col-6">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" onclick="PopwinAddDataBaseConfig()" href="javascript:void(0);">添加数据库</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row pt-2">
            <div id="servicesCardList" class="col-12 text-center d-flex justify-content-center flex-wrap">
                @{
                    if (listEntity.Count > 0)
                    {
                        for (int i = 0; i < listEntity.Count; i++)
                        {
                            FS_ServicesView item = listEntity[i];
                            string serverAddress = item.ServerAddress;
                            if (!string.IsNullOrEmpty(item.ServerAddress2))
                            {
                                serverAddress += "(" + item.ServerAddress2 + ")";
                            }
                            <div class="card">
                                <a href="/database/search/?id=@(Html.Raw(item.ID))" target="_self">
                                    <div class="card-body">
                                        <h5 class="card-title">@(Html.Raw(item.DataBaseName))</h5>
                                        <p class="card-text">地址：@(Html.Raw(serverAddress))</p>
                                        <p class="card-text">来源：@Html.Raw(item.SourceName)</p>
                                        <p class="card-text intro">简介：@(Html.Raw(item.DataBaseIntro))</p>
                                    </div>
                                </a>
                                <div class="actionTopannel"><a class="" href="javascript:void(0);" target="_self" onclick="cardActionPannel(this)"><i class="bi bi-chevron-double-left"></i></a></div>
                                <div class="actionpannel border-start">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"> <a class="" href="javascript:void(0);" onclick="PopwinAddDataBaseConfig(@(item.ID))"><div><i class="bi bi-filter-square"></i> 编辑</div></a></li>
                                        <li class="list-group-item"> <a class="text-danger" href="javascript:void(0);" onclick="deleteDatabase(@(item.ID))"><div><i class="bi bi-x-square"></i> 删除</div></a></li>
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                    else
                    {

                        <div id="servicesNoData" class="alert alert-light text-center" role="alert">
                            未找到配置的数据库！<a href="javascript:void(0);" onclick="PopwinAddDataBaseConfig()" class="btn btn-link">现在配置>></a>
                        </div>
                    }
                }
                @* <div class="card">
                <a href="/database/search/?id=1" target="_self">
                <div class="card-body">
                <h5 class="card-title">本地测试服务器</h5>
                <p class="card-text">地址：MYPC-XIAOBO\SQLEXPRESS</p>
                <p class="card-text">来源：Local</p>
                <p class="card-text intro">简介：本地库-JunYiArt</p>
                </div>
                </a>
                </div>
                <div class="card">
                <a href="/database/search/?id=17" target="_self">
                <div class="card-body">
                <h5 class="card-title">正式数据库</h5>
                <p class="card-text">地址：181.129.167.126::555678</p>
                <p class="card-text">来源：腾讯云服务器</p>
                <p class="card-text intro">简介：联想客户专用服务器，货物仓库服务器</p>
                </div>
                </a>
                </div>*@

            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/database/database.js"></script>

    <script type="text/javascript">
        $(function () {

        })
        //控制按钮区域的显示隐藏
        function cardActionPannel(e) {
            console.log("ouse enter")
            var _this=$(e);
            var pannelEve = $(e).parents('.card').find(".actionpannel");
            var pannelIsDsiplay = $(pannelEve).css("display");
            if (pannelIsDsiplay == "none") {
                //显示
                _this.parent().animate({
                    right: "60px",
                }, 240, "linear")
                pannelEve.show().animate({
                    right: "0px",
                }, 360, "linear");
                _this.find('i').remove();
                _this.append('<i class="bi bi-chevron-double-right"></i>');
            } else {
                //隐藏
                _this.parent().animate({
                    right: "0px",
                }, 360, "linear")
                pannelEve.animate({
                    right: "-60px",
                }, 360, "linear").hide();
                _this.find('i').remove();
                _this.append('<i class="bi bi-chevron-double-left"></i>');
            }
        }
    </script>
}