@using DBH.Models.Entitys;

@{
    Layout = "_LayoutMain";
    ViewData["Title"] = "选择数据库";
    IList<FS_ServicesEntity> listEntity = (IList<FS_ServicesEntity>)ViewData["listEntity"];
    //string title = Model.DataBaseName;
}
<div class="container-fulid">
    <div class="container">
        <div class="row pb-2 border-bottom">
            <div class="col-6">
                <p><h3>请选择数据库：</h3></p>

            </div>
            <div class="col-6">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" onclick="PopwinAddDataBaseConfig()" href="javascript:void(0);">添加数据库</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="servicesCardList" class="col-12 text-center d-flex justify-content-center flex-wrap">
                @{
                    if (listEntity.Count > 0)
                    {
                        for (int i = 0; i < listEntity.Count; i++)
                        {
                            string serverAddress = listEntity[i].ServerAddress;
                            if (!string.IsNullOrEmpty(listEntity[i].ServerAddress2))
                            {
                                serverAddress += "(" + listEntity[i].ServerAddress2 + ")";
                            }
                            <div class="card">
                                <a href="/database/search/?id=@(Html.Raw(listEntity[i].ID))" target="_self">
                                    <div class="card-body">
                                        <h5 class="card-title">@(Html.Raw(listEntity[i].DataBaseName))</h5>
                                        <p class="card-text">地址：@(Html.Raw(serverAddress))</p>
                                        <p class="card-text">来源：Local</p>
                                        <p class="card-text intro">简介：@(Html.Raw(listEntity[i].DataBaseIntro))</p>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                    else
                    {

                        <div id="servicesNoData" class="alert alert-light text-center" role="alert">
                            未找到配置的数据库！<a href="javascript:void(0);" class="btn btn-link">现在配置>></a>
                        </div>
                    }
                }
                @* <div class="card">
                <a href="/database/search/?id=1" target="_self">
                <div class="card-body">
                <h5 class="card-title">本地测试服务器</h5>
                <p class="card-text">地址：MYPC-XIAOBO\SQLEXPRESS</p>
                <p class="card-text">来源：Local</p>
                <p class="card-text intro">简介：本地库-JunYiArt</p>
                </div>
                </a>
                </div>
                <div class="card">
                <a href="/database/search/?id=17" target="_self">
                <div class="card-body">
                <h5 class="card-title">正式数据库</h5>
                <p class="card-text">地址：181.129.167.126::555678</p>
                <p class="card-text">来源：腾讯云服务器</p>
                <p class="card-text intro">简介：联想客户专用服务器，货物仓库服务器</p>
                </div>
                </a>
                </div>*@

            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/database/database.js"></script>

<script type="text/javascript">
   
</script>
}